//Declare the site variables
@import "_partials/variables";

//Import h5bp
@import "../bower_components/SASS-Template/sass/_h5bp/normalize";
@import "../bower_components/SASS-Template/sass/_h5bp/h5bp";

//
.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; } 
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; } 
.autocomplete .selected { background:#F0F0F0; } 
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; } 
.autocomplete strong { font-weight:normal; color:#3399FF; } 

//YOUR STYLES GO HERE

body{
	margin: 0 20px;
}

.wrapper{
	max-width: 500px;
	margin: 0 auto;
}

#output{
	border: 5px dotted #ccc;
	margin: 20px 0;
	width: 100%;
	height: 200px;
	display: block;
	box-sizing: border-box;
}

input{
	box-sizing: border-box;
	width: 100%;
}

//Project Helpers

.text-center{
	text-align: center;
}

//Import h5bp helpers at the end
@import "../bower_components/SASS-Template/sass/_h5bp/helpers";

