//Declare the site variables
@import "_partials/variables";

//Import h5bp
@import "../bower_components/SASS-Template/sass/_h5bp/normalize";
@import "../bower_components/SASS-Template/sass/_h5bp/h5bp";

//General styles

body{
	margin: 0 20px;
}

.wrapper{
	max-width: 500px;
	margin: 0 auto;
}

#output{
	border: 5px dotted #ccc;
	margin: 20px 0;
	width: 100%;
	height: 200px;
	display: block;
	box-sizing: border-box;
}

input{
	box-sizing: border-box;
	width: 100%;
}

p.error{
	color: #ff0000;
}

//Autocomplete
.autocomplete-suggestions{
	background: #fff;
	border: 1px solid #ccc;

	.autocomplete-suggestion{
		padding: 3px 5px;

		&.autocomplete-selected{
			background-color: #eee;
		}
	}
}

//Project Helpers

.text-center{
	text-align: center;
}

//Import h5bp helpers at the end
@import "../bower_components/SASS-Template/sass/_h5bp/helpers";

